/* @tailwind base; keep excluded, (this will mess up the default styles of mantine ui components) */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
