/* @tailwind base; keep excluded, (this will mess up the default styles of mantine ui components) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  overflow-y: scroll;
} */

/* body {
  overflow-x: 0;
  margin-inline: 0;
  padding-inline: 0;
} */
